@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0s;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.navbarContainer {
  width: 100%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  padding: 16px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: relative; */
}

.searchInput {
  position: relative;
}

.searchInput input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  /* position: relative; */
}

.navLogo {
  font-size: 26px;
  font-weight: 600;
}

.navSocial {
  display: flex;
  gap: 20px;
}

.navSocial div svg {
  font-size: 20px;

}

.postContentContainer {
  padding: 10px 10%;
}

.postContentContainer img {
  width: 100%;
  display: block;
  cursor: pointer;
}

.postContentContainer .item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.my-masonry-grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  margin-left: -10px;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 10px;
  /* gutter size */
  background-clip: padding-box;

}

/* Style your items */
.my-masonry-grid_column>div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 10px;

}



.searchResult {

  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  left: 200px;
  background-color: white;
  height: 500px;
  overflow-y: auto;
  padding: '10px';
  z-index: 99;
}

.searchResult a {
  text-decoration: none;
}

.searchItems {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid rgb(202, 202, 202);
  color: black;
  height: 80px;
}

.searchItems:hover {
  background-color: #f5f5f5;
}

/* title should be in uppercase */
.SearchItemName {
  font-weight: 600;
  font-size: 14px;
}

/* limit description text to one line */
.searchItemDescription {
  font-size: 12px;
  color: #666;
  font-weight: 300;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.titleanddescription {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 70%;
}

.subscribersandtype {
  float: left;
  justify-content: end;
  text-align: center;

}


.subscribersandtype p {
  font-weight: 400;
  font-size: 14px;
}

.contentType {
  color: red;
  font-size: 12px;
}

.searchthumbs img {
  width: 50px;
  /* Adjust the width as needed */
  height: 50px;
  /* Adjust the height as needed */
  object-fit: contain;
  /* This will ensure that the images are scaled correctly */
  border-radius: 4px;
  /* Optional: Adds rounded corners to the thumbnails */
  margin-right: 10px;
  /* Adds some space to the right of the thumbnail */
}

.searchthumbs svg {
  margin-right: 40px;
}

.crossbtn {
  background: none;
  outline: none;
  border: none;
  position: absolute;
  right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.headerdetail {
  width: 80%;
  margin: auto;
  justify-content: center;
  margin-top: 10px;
  position: relative;
  margin-bottom: 20px;
  min-width: 100px;
  max-height: 200px;
}

.headerImage img {
  margin: auto;
  display: flex;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 200px;
}


.headerText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 26px;

}

.posttitle {

  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  text-decoration: none;
  color: white;
  padding: 2px;



}

/* little black shadow on hover effect for title*/


.item:hover .posttitle {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  background-color: #040910;
}

.detailImage {
  background-color: #040910;
  width: 100%;
  height: 100%;
}

.detailImage img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
  background-color: rgb(24, 24, 27);
}

.detailText {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 99;
}

.detailCross {
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  z-index: 99;
  cursor: pointer;
  font-weight: 700;
}

.categoryname {
  display: flex;
  gap: 10px;
  cursor: pointer;
  align-items: center;
}

.searchManual {
  cursor: pointer;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid rgb(202, 202, 202);
  color: black;
  height: 80px;
}

.searchManual:hover {
  background-color: #f5f5f5;
}

.bottomNav {
  display: none;
}


@media screen and (max-width: 767px) {
  .navbarContainer {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 99;
    background: white;
  }

  .navLogo {
    order: 1;
  }

  .navSocial {
    display: none;
  }

  .postContentContainer {
    padding: 1%;
  }

  .navbarContainer a {
    order: 1;
    
  }
  .searchInput {
    order: 2;
    margin: auto;
    justify-content: center;
    display: flex;
    width: 100%;
  }
  .searchInput input {
    width: 90% !important;
  }

  .headerdetail {
    width: 100%;
    margin: auto;
    justify-content: center;
    /* margin-top: 10px; */
    position: relative;
    margin-bottom: 8px;
    min-width: 100px;
    max-height: 200px;
  }

  .headerText {
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    text-align: center;
}

.bottomNav {
  position: fixed;
  bottom: 10px;
  width: 40%;
  justify-content: center;
  margin: auto;
  left: 50%;
transform: translateX(-50%);
}

.bottonNavIcons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 26px
}

}
